.detail-title {
    position: relative;
    height: 60vh;
    width: 100vw; 
}

.background-classroom{
    position: relative;
    margin-top: 20px;
    margin-left: 20vw;
    height: auto;
    width: 60%;
    z-index: 1
}

.background-bingo {
    position: absolute;
    top: 26vh;
    left: 45.7vw;
    height: 80px;
    width: 130px;
    z-index: 2;
}

#detail-courseintro{
    font-size: 2.5em;
    color: white;
    position: absolute;    
    top: 48vh;
    left: 40vw;
    z-index: 2;
    font-family: Arial;
}

.detail-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15vw;
    margin-right: 15vw; 
}

.detail-each-class {
    background-color: #c4b7a6;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    height: 300px;
    width: 500px;
}

.detail-one-course{
    margin: 10px;
}

.detail-checkout-btn{
    margin-top: 40px;
    margin-left: 46vw;
}

body{
    background-color:#e6e2d3;
}

#checkout-container{
    display: flex;
    flex-wrap: wrap;
}

#checkout-address{
 margin-left: 25vw;
}

#checkout-classes{
    margin-left: 44vw;
    margin-top: 30px;
}


#checkout-payment{
    margin-left: 22vw;
}

.checkout-form{
    margin-left: 30px;
    margin-top: 10px;
}
.checkout-confirm-btn{
    margin-left: 50vw;
}

.finish-container{
    margin-top: 10vh;
}

.finish-greet{
    text-align: center;
}

.finish-display{
    margin-left: 38vw;
    margin-top: 5vh;
}